# Directories
Implementation/data/
Extra/
Implementation/scripts/04_simulations/__pycache__/
Implementation/models/two_mass_ode_v2/testing_data_export

# Files
capstone_backup.tar.gz
info.docx
Synopsis
Literature\ Review
Mid-Sem